body{
    font-family: 'Oswald', sans-serif;
    background:#EEEDED;
}

a{
    color:#24A7CF;
}

a:hover{
    color:#24A7CF;
}

.navbar-brand img{
    margin-top:-5px;
}

.navbar-brand *{
    color:white;
}

.jumbotron{
    height: 200px;
    overflow: hidden;
}

.jumbotron #details{
    position: absolute;
    color: white;
}

.jumbotron #details span{
    color:#24A7CF;
}

.jumbotron img{
    width:100%;
}

.upper-area{
    margin-top: 50px;
    height: 600px;
}

.slider-image{
    width: 100%;
}

section .widgets{
    margin-bottom:20px;
}

.popular{
    background:white;
    padding:20px;
    border-radius: 10px;
    border:1px solid #E3E3E3;
}

.popular .details{
    margin-left:-20px;
}

.popular .details p{
    font-family: arial;
    font-size: 11px;
}

.popular img{
    width:100%;
    margin-top:12px;
}

.popular ul li{
    list-style:none;
}

.categories{
    background:white;
    padding:20px;
    border-radius: 10px;
    border:1px solid #E3E3E3;
}

.post{
    background: white;
    border:1px solid #E3E3E3;
    margin: 15px 0px;
}

.post .post-date{
    padding: 20px;
    text-align: center;
}

.post .post-date .day{
    font-size: 30px;
    color:#24A7CF;
}

.post .post-date .year{
    font-weight: 100;
}

.post .post-title{
    padding:5px 20px 25px 20px;
    border-left:1px solid #E3E3E3;
}

.post .post-title span{
    color:#24A7CF;
    font-weight: 100;
    margin-left: 10px;
}

.post .profile-picture{
    padding: 20px;
}

.post .profile-picture img{
    width: 80%;
}

.post > a > img{
    width:100%;
}

.post .desc{
    font-family: arial;
    font-weight: 100;
    padding: 15px;
    line-height: 20px;
}

.post > a.btn{
    margin-left: 15px;
    margin-bottom: 20px;
}

.post .bottom{
    padding:10px 20px;
    border-top:1px solid #E3E3E3;
}

.post .bottom{
    color:#C6C6C6;
}

.post .bottom .first{
    margin-right: 20px;
}

.post .bottom .sec{
    margin-left: 20px;
}

nav#pagination{
    text-align: center;
}

.pagination > li > a{
    color:#24A7CF;
    padding:15px 25px;
    font-size: 18px;
}

footer{
    background:black;
    height:50px;
    line-height: 50px;
    color: white;
    letter-spacing: 1px;
}

footer .container a{
    text-decoration: none;
    color: blue;
}

footer .container a:hover{
    color: lightblue;
}

.contact-form{
    background: white;
    padding: 50px 25px;
}

.contact-form h2{
    color:#24A7CF;
}

.contact-form textarea{
    resize: none;
}

.related-posts{
    background: white;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.related-posts img{
    width: 100%;
}

.related-posts h3{
    color:#24A7CF;
}

.author{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
}

.author img{
    width: 100%;
}

.author h4{
    color:#24A7CF;
    text-decoration: underline;
}

.author p{
    font-weight: 100;
}

.comment{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
}

.comment h3{
    color:#24A7CF;
}

.comment img{
    width: 80%;
}

.comment h4{
    color:#24A7CF;
}

.comment p{
    font-weight: 100;
}

.comment .single-comment{
    margin-bottom: 10px;
}

.comment-box{
    margin-bottom: 15px;
    background: white;
    padding: 20px;
}

.comment-box textarea{
    resize: none;
}

@media (max-width:992px) {
    
    .post .profile-picture{
        text-align: center;
        margin-top:-40px;
    }
    
    .post .post-title{
        text-align: center;
        border:none;
    }
    
    .post .profile-picture img{
        width:20%;
    }

}

@media (max-width:786px){
    
    .jumbotron #details{
        margin-top: 20px;
    }
    
    .post .post-title{
        margin-top: -30px;
        text-align: center;
        border: none;
    }
    
    .post .profile-picture{
        text-align: center;
    }
    
    .post .profile-picture img{
        width:20%;
    }
    
    .pagination > li > a{
        font-size: 13px;
        padding:10px 12px;
    }
    
    footer{
        font-size: 9px;
        letter-spacing: 0px;
    }
    
    .navbar-inverse .navbar-nav > li > a{
        text-align: center;
    }
    
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
        text-align: center;
    }
    
    .author{
        background: white;
        padding: 20px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .author img{
        width: 30%;
    }

    .author h4{
        color:#24A7CF;
        text-decoration: underline;
    }

    .author p{
        font-weight: 100;
    }
    
    .comment{
        background: white;
        padding: 20px;
        margin-bottom: 15px;
    }

    .comment h3{
        color:#24A7CF;
    }

    .comment img{
        width: 30%;
    }

    .comment h4{
        color:#24A7CF;
    }

    .comment p{
        font-weight: 100;
    }

    .comment .single-comment{
        margin-bottom: 10px;
        text-align: center;
    }
}




/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.shadow {
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 10px inset;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.shadow:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
}
.shadow img {
  width: 100%;
  position: relative;
  z-index: -1;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5;
  border-radius: 5%;
}

.column {
  width: 100%;
  float: left;
  width: 100%;
}




.container-4{
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search{
    width: 100%;
    height: 50px;
    background: #292929;
    border: none;
    font-family: Montserrat;
    font-size: 14pt;
    float: left;
    color: #d9dbe8;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder{
    font-family: Lora;
    color: #65737e;
}

.container-4 input#search:-moz-input-placeholder{
    font-family: Lora;
    color: #65737e;
}

.container-4 input#search::-moz-input-placeholder{
    font-family: Lora;
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder{
    font-family: Lora;
    color: #65737e;
}

.container-4 button.icon, .container-4:active button.icon, .container-4:hover button.icon, .container-4:focus button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    border: none;
    background: #292929;
    height: 50px;
    width: 70px;
    color: #65737e;
    opacity: 1;
    font-size: 12pt;
    
    -webkit-transform: all.55s ease;
    -moz-transform: all.55s ease;
    -ms-transform: all.55s ease;
    -o-transform: all.55s ease;
    transform: all.55s ease;
    
    outline: none;
    opacity: 1;
    margin-left: -70px;
}

.container-4:hover button.icon:hover{
    background: #505050;
    font-size: 15pt;
}

.wtf a:hover{
    text-decoration: underline;
    color: white;
}



